.form{
    margin: 20px;
    width: auto;
    background-color: rgb(49, 56, 63);
    padding: 10px;
    font-size: 30px;
    color: rgb(108, 68, 231);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.im{
    width: 30%;
    object-fit:cover;

}